body {
  margin: 0px;
  padding: 0px;
}

h2{
  font-family: Oxygen, Century Gothic, Verdana;
  text-decoration: underline;
  text-decoration-color: #01C77F;
  font-weight: 500;
  font-size: 35px;
}

footer {
  background: url(assets/Image/CadFooterFundo.jpg) no-repeat;
  background-size: cover;
}

.divfooter{
  height: 30vw;
}

.logoPart{
  margin: 12px 0px 0px 45px;
  display: flex;
  flex-direction: row;
}

.logoPart img{
  margin-top: 20px;
  height: 55px;
  width: auto;
}

@media (max-width: 851px) {
  .divfooter{
    height: 50vw;
  }
}

@media (max-width: 455px) {
  .divfooter{
    height: 90vw;
  }
}

@media (min-width: 1369px) {
  .divfooter{
    height: 39vw;
  }
}