@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

/* Header */ 
.scheduleTitle{
  font-family: 'Oxygen', sans-serif;
  font-size: 80px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #01C77F;
  margin: 1rem 3rem 0 4rem;
  padding: 0px;
}

.headerLogin{
  display: flex;
  justify-content: space-between;
  height: 10vh;
  margin-bottom: 20vh;
}

.headerLogin img{
  max-width: fit-content;
  height: 120px;
}
/* Conteudo */

.conteudoLogin {
  display: flex;
  height: 50vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.conteudoLogin img{
  height: 60vh;

}

/* Footer */
.footerLogin{
  display: flex;
  height: 5vh;
}
.footerLogin img{
  height: fit-content;
}